@charset "utf-8";

/**
 * Bulk Importer - Subsection Manager bridge for Symphony
 *
 * @author: Marcin Konicki, ahwayakchih@neoni.net
 * @source: http://github.com/brendo/bulkimporter
 */

div.field-subsectionmanager div.stage li:not(.empty, .bulkimporter) {
	min-height: 53px;
}

div.stage div.queue div.menu > a.create:after {
	content: ' ↓';
}

div.stage div.queue div.menu {
	position: relative;
}

div.stage div.queue div.menu div.submenu {
	display: none;
}

div.stage div.queue div.menu:hover div.submenu {
	position: absolute;
	display: block;
	width: auto;
	top: 7px;
	right: 0px;
	margin-top: 1em;
	background: transparent;
	z-index: 99;
}

div.stage div.queue div.menu:hover > a.create {
	border: 1px solid #81b934;
	color: #fff;
	background: #81b934;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.stage div.queue div.menu div.submenu a.option {
	display: block;
	float: none;
	min-width: 7em;
}

/* Copy rules from stage.publish.css */
div.stage div.queue div.menu div.submenu a.option, div.stage div.queue div.menu div.submenu a.create.option {
	margin: 0px;
	border: 1px solid #81b934;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 3px 14px 4px;
	color: #fff;
	background: #81b934;
	cursor: pointer;
	line-height: 1;
	font-size: 0.95em;
	text-decoration: none;
	height: 10px;
}

div.stage div.queue div.menu div.submenu a.option:first-child {
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	border-top-left-radius: 1em;
}

div.stage div.queue div.menu div.submenu a.option:last-child {
	-moz-border-radius-bottomright: 1em;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

/* "Highlight" color copied from dashboard.index.css */
div.stage div.queue div.menu div.submenu a.option:hover {
	border: 1px solid #6c9c29;
	color: #fff;
	background: #6c9c29;
}
