.group > label {
	margin-bottom: 1.75em
}

.group > label:last-child,
.group > a.no-section {
	float: right;
}

.failed.files div ul {
	display: none;
}
.failed.files div:hover ul {
	display: block;
}
